[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Environment=BOT_PATH=/home/shohag/Projects/junk/Bots/Telegram
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/python3 /home/shohag/Projects/junk/Bots/Telegram/main.py
Restart=always
User=shohag
WorkingDirectory=/home/shohag/Projects/junk/Bots/Telegram
StandardOutput=append:/home/shohag/Projects/junk/Bots/Telegram/log/bot_log.log
StandardError=append:/home/shohag/Projects/junk/Bots/Telegram/log/bot_log_err.log

[Install]
WantedBy=multi-user.target

