[Unit]
Description=SudoBot Telegram Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=__BOT_USER__
WorkingDirectory=__BOT_PATH__
Environment=PYTHONUNBUFFERED=1
ExecStart="__BOT_PATH__/venv/bin/python" "__BOT_PATH__/main.py"
Restart=on-failure
RestartSec=5
UMask=0077
StandardOutput=append:__BOT_PATH__/log/bot_log.log
StandardError=append:__BOT_PATH__/log/bot_log_err.log

[Install]
WantedBy=multi-user.target
